<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
</head>
<body>
<!--
**********************************************************************
angularJs指令
-->

<!-- <div ng-init="firstName='jason';lastName='Doe'">
     <div ng-bind="firstName+' '+lastName"></div>
 </div>-->
<!--<div ng-init="person={firstName:'jason',lastName:'Doe'}">
    <p>{{person.firstName + " " +  person.lastName}}</p>
</div>-->
<!--<div ng-init="point=[0,1,2,3,4]">
    <p>{{point[1]}}</p>
</div>-->
<!--<div ng-init="firstName='jason'">
    <p>在输入框中尝试输入:</p>
    <p>username：<input type="text" ng-model="firstName"></p>
    <p>你输入的是：{{firstName}}</p>
</div>-->
<!--<div ng-init="quantitys=2;price=2">
    <h2>价格计算器</h2>
    数量：<input type="text" ng-model="quantitys">
    价格：<input type="text" ng-model="price">
    <p>总价：{{quantitys*price}}</p>
</div>-->
<!--<div ng-init="Numbers=[1,2,3,4]">
    <p>循环数组</p>
    <ui>
        <li ng-repeat="x in Numbers">
            {{x}}
        </li>
    </ui>
</div>-->
<!--<div ng-init="names=[
{name:'json',country:'china'},
{name:'shawn',country:'American'},
{name:'Ann',country:'jimmy'}
]">
    <p>循环对象</p>
    <ul>
        <li ng-repeat="x in names">
            {{x.name+","+x.country}}
        </li>
    </ul>
</div>-->
<!--directive runoob-directive-->
<!--<div runoob-directive></div>
<script>
    var app = angular.module("myApp", []);
    app.directive("runoobDirective", function() {
        return {
            template : "<h1>自定义指令!</h1>"
        };
    });
</script>-->
<!--<script>
    var app=angular.module("myApp",[]);
    app.directive("runoobDirective",function(){
        return{
            restrict:"M",
            replace:true,
            template:"<h1>自定义指令</h1>"
        }
    });
</script>

<p><strong>注意：</strong> 我们需要在该实例添加 <strong>replace</strong> 属性， 否则评论是不可见的。</p>

<p><strong>注意：</strong> 你必须设置 <b>restrict</b> 的值为 "M" 才能通过注释来调用指令。</p>-->

<!--
angularJs模型
*******************************************************************************
-->
<!--ng-model指令-->
<!--<div ng-controller="myCtrl">
    名字：<input type="text" ng-model="name">
</div>-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    名字: <input ng-model="name">
    <h1>你输入了: {{name}}</h1>
</div>-->
<!--<form name="myForm">
    Email:<input type="email" name="EmailAdress" ng-model="text">
    <span ng-show="myForm.EmailAdress.$error.email">不是一个合法的邮箱地址</span>
</form>
<p>在输入框中输入你的邮箱地址，如果不是一个合法的邮箱地址，会弹出提示信息。</p>
<script>
/*    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
        $scope.name = "shawn";
    });*/

</script>-->
<!--<form name="myForm" ng-init="myText='text@outlook.com'">
Email:<input type="text" name="myEmail" ng-model="mytext" required>
<h1>状态</h1>
<p>valid:{{myForm.myEmail.$valid}}</p>
<p>Dirty:{{myForm.myEmail.$dirty}}</p>
<p>Touched:{{myForm.myEmail.$touched}}</p>-->
<!--</form>-->
<!--<div ng-app="myApp" ng-controller="myCtrl">

    <input ng-model="name">

    <h1>我的名字是 {{name}}</h1>

</div>-->
<!--<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.name = "John Doe";
    });
</script>-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <ul>
        <li ng-repeat="x in Names">{{x}}</li>
    </ul>
</div>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function($scope){
        $scope.Names=["shawn","john","jimmy"];
    });

</script>-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <h1>{{lastName}}家族成员：</h1>
    <ul>
        <li ng-repeat="x in names">{{x}}&nbsp{{lastName}}</li>
    </ul>
</div>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function($scope,$rootScope){
        $scope.names=["jaosn","shawn","jimmy"];
        $rootScope.lastName="John";
    });
</script>-->
<!--<div ng-app="myApp" ng-controller="personCtrl">
    姓：<input type="text" ng-model="firstName">
    <br/>
    名: <input type="text" ng-model="lastName">
    全名：{{fullName()}}
    <p>姓名为：{{lastName | uppercase}}</p>
</div>
<script>
    var app=angular.module("myApp",[]);
    app.controller("personCtrl",function($scope){
        $scope.firstName="John";
        $scope.lastName="Doe";
        $scope.fullName=function(){
            return $scope.firstName+" "+$scope.lastName;
        }
    });
</script>-->
<!--<div ng-app="myApp" ng-controller="myCtrl">

    <p>欢迎信息:</p>

    <h1>{{myWelcome}}</h1>

</div>

<p> $http 服务向服务器请求信息，返回的值放入变量 "myWelcome" 中。</p>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $http.get("welcome.htm").then(function (response) {
            $scope.myWelcome = response.data;
        });
    });
</script>-->
<!--
$timeout服务
-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <p>两秒后显示信息:</p>
    <h1>{{myHeader}}</h1>
</div>
<p>$timeout 访问在规定的毫秒数后执行指定函数。</p>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function($scope,$timeout){
        $scope.myHeader="hello world";
        $timeout(function(){
            $scope.myHeader="how are you today?";
        },2000);
    });
</script>-->

<!--
$interval服务
-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <p>现在时间是:</p>
    <h1>{{theTime}}</h1>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $interval) {
        $scope.theTime = new Date().toDateString();
        $interval(function () {
            $scope.theTime = new Date().toDateString();
        }, 1000);
    });
</script>-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <p>255的16进制</p>
    <h1>{{hex}}</h1>
</div>
<script>
    var app=angular.module("myApp",[]);
    app.service("hexafy",function(){
        this.myFunc=function(x){
            return x.toString(16);
        }
    });
    app.controller("myCtrl",function($scope,hexafy){
        $scope.hex=hexafy.myFunc(255);
    });
</script>-->
<!--<div ng-app="myApp">
    <h1>{{255 | myFormat}}</h1>
</div>
<script>
    var app=angular.module("myApp",[]);
    app.service("hexary",function(){
        this.func=function(x){
            return x.toString(16);
        }
    });
    app.filter("myFormat",['hexary',function(hexary){
        return function(x){
           return hexary.func(x);
        }
    }]);
</script>-->

<!--
*********************************************
在对象数组中获取数据使用过滤器中
-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <ul>
        <li ng-repeat="x in counts">{{x | myFormat}}</li>
    </ul>
</div>
<script>
    var app=angular.module("myApp",[]);
    //服务
    app.service("hexary",function(){
        this.func=function(x){
            return x.toString(16);
        }
    });
    //过滤器
    app.filter("myFormat",['hexary',function(hexary){
        return function(x){
            return hexary.func(x);
        }
    }]);
    //控制器
    app.controller("myCtrl",function($scope){
        $scope.counts=[255,266,800];
    });
</script>-->

<!--http://www.runoob.com/try/angularjs/data/sites.php-->

<!--
angularJs http   ----------读取json文件************************************************
-->
<!--<div ng-app="myApp" ng-controller="siteCtrl">
    <ul>
        <li ng-repeat="x in names">
            {{x.Name+" " + x.Country }}
        </li>
    </ul>
</div>
<script>
/*    $origin = isset($_SERVER['HTTP_ORIGIN'])? $_SERVER['HTTP_ORIGIN'] : '';
    $allow_origin = array(
            'http://www.runoob.com/try/angularjs/data/sites.php'
    );
    if(in_array($origin, $allow_origin)){
        header('Access-Control-Allow-Origin:'.$origin);
    }*/
    var app=angular.module("myApp",[]);
    app.controller("siteCtrl",function($scope,$http){
        $http.get("http://www.runoob.com/try/angularjs/data/sites.php").success(function(response){
            $scope.names=response.sites;
        })
    });
</script>-->

<!--<div ng-app="myApp" ng-controller="myCtrl">
    &lt;!&ndash;<select ng-model="selectedName" name="optionSec" ng-options="x for x in names"></select>&ndash;&gt;
    <select>
        <option ng-repeat="x in names">{{x}}</option>
    </select>
</div>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function($scope){
        $scope.names=["op1","op2","op3"];
    })
</script>-->
<!--<div ng-app="myApp" ng-controller="ctrlSites">
    <select ng-model="seletedSites" ng-options="x.side for x in sites"></select>
    <h1>你选择的网站是：{{seletedSites.site}}</h1>
    <h1>地址是：{{seletedSites.url}}</h1>
&lt;!&ndash;    <select ng-model="seletedSites">
        <option ng-repeat="x in sites" value="{{x.url}}">{{x.site}}</option>
    </select>
    <h2>你选择的是：{{seletedSites}}</h2>&ndash;&gt;
</div>

<script>
    var app=angular.module("myApp",[]);
    app.controller("ctrlSites",function($scope){
        $scope.sites=[
            {site : "Google", url : "http://www.google.com"},
            {site : "Runoob", url : "http://www.runoob.com"},
            {site : "Taobao", url : "http://www.taobao.com"}
        ];
    });
</script>-->

<!--<div ng-app="myApp" ng-controller="myCtrl">
    <p>选择的网站是:</p>
    <select ng-model="selectedSite" ng-options="x for (x ,y) in sites"></select>
    你选择的是：{{selectedSite}}
</div>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function($scope){
        $scope.sites={
            site01:"Google",
            site02:"Runoob",
            site03:"Taobao"
        }
    });
</script>-->
<!--
x---key
y---value
-->
<!--<div ng-app="myApp" ng-controller="myCtrl">
    <select ng-model="selectNames" ng-options="y.brand for (x,y) in cars"></select>

    <h1>你选择的是：{{selectNames.brand}}</h1>

    <h2>模型：{{selectNames.model}}</h2>

    <h3>颜色：{{selectNames.color}}</h3>
</div>
<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
        $scope.cars = {
            car01: {brand: "ford1", model: "Mustring1", color: "red"},
            car02: {brand: "ford2", model: "Mustring2", color: "blue"},
            car03: {brand: "ford3", model: "Mustring3", color: "green"}
        };
    });
</script>-->
<style>
    table, th , td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>
<div ng-app="myApp" ng-controller="myCtrl">
    <table>
        <tr ng-repeat="x in names">
            <td>{{x.Name}}</td>
            <td>{{x.Url}}</td>
            <td>{{x.Country}}</td>
        </tr>
    </table>
</div>
</body>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function($scope,$http){
        $http.get("../app/js/site.json").success(function(response){
            $scope.names=response.sites;
        });
    });
</script>
</html>