<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dijit/themes/claro/claro.css" media="screen" />
    <script type="text/javascript" src="http://s.zys.me/js/jq/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
</head>
<body class="claro">
<div ng-controller="TestCtrl" id="test_ctrl">
    <p ng-show="!btn_disable">
        <button ng-click="change()">调用dojo修改按钮</button>
    </p>
    <p id="btn_wrapper">
        <button data-dojo-type="dijit/form/Button" type="button">{{ a }}</button>
    </p>
    <p>
        <input ng-model="dialog_text" ng-init="dialog_text='对话框内容'" />
        <button ng-click="dialog(dialog_text)">显示对话框</button>
    </p>
    <p ng-show="show_edit_text" style="display: none;">
        <span>需要编辑的内容:</span>
        <input ng-model="text" />
    </p>
    <div id="editor_wrapper">
        <div data-dojo-type="dijit/Editor" id="editor"></div>
    </div>
</div>
</body>
<script src="dojo.js"></script>
</html>